<div class="container-fluid footer">
  <div class="row footer-bg bg-dark">
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <a href="#" class="text-decoration-none footer-link">Home</a>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <a href="#" class="text-decoration-none footer-link">About</a>
      </div>
    </div>

    <div class="col-4">
      <div class="d-flex justify-content-center">
        <a href="#" class="text-decoration-none footer-link">Contact</a>
      </div>
    </div>
  </div>
</div>
