<div class="container">
  <div class="row">
    <div class="col-6 mt-5 mb-3">
      <p class="dashboard-description">
        Total de cursos: {{ this.statistics.totalCourses }}
      </p>
    </div>
    <div class="col-6 mt-5 mb-3">
      <p class="dashboard-description">
        Total de estudiantes: {{ this.statistics.totalStudents }}
      </p>
    </div>
    <div class="col-12">
      <h1 class="dashboard-title mt-4 mb-3 ms-3">
        Listado de los cursos con más estudiantes
      </h1>
    </div>
    <div
      class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3"
      *ngFor="let item of this.statistics.topSixMoths"
    >
      <app-card></app-card>
    </div>
    <div
      class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3"
      *ngFor="let item of this.statistics.topStudents"
    >
      <app-card></app-card>
    </div>
  </div>
</div>
