<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      <h1 class="text-center">Listado de cursos</h1>
    </div>
    <div class="col-12">
      <a
        routerLink="/dashboard/cursos/registro"
        type="button"
        class="btn btn-primary mb-5"
        >Crear curso</a
      >
    </div>
    <div class="col-12 mb-5">
      <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <td>Id</td>
              <td>Nombre del curso</td>
              <td>Fecha de inicio</td>
              <td>Fecha fin</td>
              <td>Tipo</td>
              <td>Acción</td>
            </tr>
          </thead>
          <tbody *ngIf="courses?.data.length">
            <tr *ngFor="let item of courses.data">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.start_date }}</td>
              <td>{{ item.end_date }}</td>
              <td>{{ item.type == "ONLINE" ? "Presencial" : "Online" }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary me-2"
                  (click)="schedule(item.id)"
                >
                  <i class="bi bi-calendar-event"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-success me-2"
                  (click)="edit(item.id)"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-danger"
                  id="deleteCourse"
                  (click)="deleteCourse(item.id)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
